@import url("./blink-eye.css");
@import url("./eye-smile.css");
@import url("./eye-blink-star.css");
.emart .img-emart .emart-eye{
    mask-image: url(../components-emart/mask-eye.png);
    -webkit-mask-image: url(../components-emart/mask-eye.png);
    position: absolute;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background: linear-gradient(340deg, #fff 0%,rgb(43, 40, 40) 10%, rgb(22, 14, 47) 100%);
    top: 14%;
    left: 40%;
    height: 180px;
    transition: all 0.5s linear 0s;
}
.emart .img-emart .emart-eye img{
    width: 320px;
    max-height: 180px;
}

.emart-eye::after {
    /* content: "Hello NÄB"; */
    color: white;
    position: absolute;
    top: 17%;
    font-size: 60px;
    text-transform: uppercase;
    color: rgb(45, 45, 217);
    transform: translateY(-50%);
    right: -140%;
    /* right: 60px; */
    letter-spacing: 8px;
    font-family: 'Poppins', sans-serif;;
    font-weight: 600;
    animation: effectText 4s linear infinite;
}
.eye {
    position: absolute;
    width: 80px;
    height: 65px;
    border: 7px solid #1DB0DC;
    border-radius: 50%;
    transform-style: flat;
    /* transform-style: preserve-3d; */
    /* box-shadow: 0 0 1px 0px #A1ECF1, 0 0 2px 0px #DEE5EF, 0 0 3px 0px #5FCCD1,
    0 0 4px 4px #6BD2D6; */
    /* overflow: hidden; */
    transition: all 0.25s linear;
}


.e-left {
    top: 20%;
    left: 12%;
    transform: rotate(-5deg);
    animation: 3s infinite 0s;
    animation-name: eyeLeft;
}
.e-right {
    top: 20%;
    right: 8%;
    transform: rotate(5deg);
    /* animation: eyeRight 3s infinite 0s; */
    animation: 3s infinite 0s;
    animation-name: eyeRight;
}
.e-left::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 25px;
    border-radius: 50%;
    background-color: #75A7E0;
    right: 7px;
    top: 3px;
}
/* .e-left::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 25px;
    background-color: #1DB0DC;
} */
.e-right::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 25px;
    border-radius: 50%;
    background-color: #75A7E0;
    left: 7px;
    top: 3px;
}
.eye > span:nth-child(1) {
    width: 20px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    transform: translateY(80%);
    left: 2px;
    background-color: #75A7E0;
}
.eye > span:nth-child(2) {
    width: 12px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    left: 10px;
    background-color: #75A7E0;
}
.e-right > span:nth-child(1) {
    left:unset;
    right: 2px;
}
.e-right > span:nth-child(2){
    left: unset;
    right: 10px;
}
.eyelash {
    position: absolute;
    top: 2px;
    left: -10px;
}
.eyelash > span:nth-child(1){
    border-radius: 50%;
    width: 10px;
    height: 5px;
    background-color: #1DB0DC;
    position: absolute;
    top: 0px;
    left: 7px;
    transform: rotate(45deg);
}
.eyelash > span:nth-child(1)::before {
    content: '';
    border-radius: 50%;
    width: 8px;
    height: 4px;
    background-color: #1DB0DC;
    position: absolute;
    top: -1px;
    left: -4px;
    transform: rotate(30deg);
}
.elash-right > span:nth-child(1){
    left: unset;
    transform: rotate(-45deg);
    right: -10px;
}
.elash-right > span:nth-child(1)::before{
    transform: rotate(-30deg);
    left: unset;
    right: -4px;
}
.eyelash > span:nth-child(2){
    border-radius: 50%;
    width: 10px;
    height: 5px;
    background-color: #1DB0DC;
    position: absolute;
    top: -3px;
    left: 13px;
    transform: rotate(-115deg);
}
.eyelash > span:nth-child(2)::before {
    content: '';
    border-radius: 50%;
    width: 8px;
    height: 4px;
    background-color: #1DB0DC;
    position: absolute;
    transform: rotate(30deg);
    top: 1px;
    left: 7px;
}
.elash-right > span:nth-child(2){
    left: unset;
    transform: rotate(115deg);
    right: -7px;
    top: -7px;
}
.elash-right > span:nth-child(2)::before {
    transform: rotate(-30deg);
    left: unset;
    right: 4px;
    top: 1px;
}
.elash-right {
    left: unset;
    right: 10px;
}

.eyelid {
    position: absolute;
    width: 82px;
    height: 66px;
    border: 7px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    top: -8px;
    left: -8px;
}
.emart-eye:hover .eye-smile{
    opacity: 1;
} 
.emart-eye:hover .eye-smile-right {
    right: -2%;
    top: 35%;
    animation: animationSmileEyeRight 1s linear alternate-reverse infinite;
}
.emart-eye:hover .eye-smile-left{
    top: 35%;
    left: 30%;
    animation: animationSmileEyeLeft 1s linear alternate-reverse infinite;
}

.emart-eye:hover .eye {
    height: 0px;
    transform: rotate(-5deg) translateY(20px);
    opacity: 0;
}
.emart-eye:hover .emo-left {
    bottom: 35%;
    left: 15px;
    animation: animationEmotionLeft 2s linear alternate-reverse infinite;
    box-shadow: 0 0 2px 2px rgb(190, 18, 60),0 0 4px 4px rgb(219, 39, 119);
}
.emart-eye:hover .emo-right {
    bottom: 35%;
    right: 5px;
    animation: animationEmotionRight 2s linear alternate-reverse infinite;
    box-shadow: 0 0 2px 2px rgb(190, 18, 60),0 0 4px 4px rgb(219, 39, 119);
}
.emart-eye:hover .smile{
    animation: animationSmile 1.5s linear alternate-reverse infinite;
}
.emart-eye:hover .eyelash-blink > i{
    transform: translateX(10px) translateY(-5px) scale(1) rotate(-180deg);
    opacity: 1;
}
@keyframes eyeLeft {
    0%{

    }
    30%{
        top: 29%;
        left: 17%;
        transform: scale(1);
    }
    42%{
        transform: scale(1.05) ;
        top: 29%;
        left: 17%;
    }
    52%{
        transform: scale(1) ;
        top: 29%;
        left: 17%;
    }
    55%{

    }
    57%{

    }
    62%{
        transform: scale(1.05);
        top: 29%;
        left: 17%;
    }
    72%{
        transform: scale(1);
        top: 29%;
        left: 17%;
    }
    80%{
        
    }
    100%{
        
    }
}

@keyframes eyeRight {
    0%{

    }
    30%{
        top: 28%;
        right: 12%;
        transform: scale(1);
    }
    42%{
        transform: scale(1.05) ;
        top: 28%;
        right: 12%;
    }
    52%{
        transform: scale(1) ;
        top: 28%;
        right: 12%;
    }
    62%{
        transform: scale(1.05);
        top: 28%;
        right: 12%;
    }
    72%{
        transform: scale(1) ;
        top: 28%;
        right: 12%;
    }
    100%{

    }
}
@keyframes eyeRightBlink {
    0%{

    }
    30%{
        top: 28%;
        right: 12%;
        transform: scale(1) rotateX(-90deg);
    }
    42%{
        transform: scale(1.05) rotateX(-90deg);
        top: 28%;
        right: 12%;
    }
    52%{
        transform: scale(1) rotateX(-90deg);
        top: 28%;
        right: 12%;
    }
    62%{
        transform: scale(1.05)rotateX(-90deg);
        top: 28%;
        right: 12%;
    }
    72%{
        transform: scale(1) rotateX(-90deg);
        top: 28%;
        right: 12%;
    }
    100%{
        transform: rotateX(-90deg);
        opacity: 0;
    }
}